<div id="<%= dom_id philosopher %>">
  <p>
    <strong>Pfname:</strong>
    <%= philosopher.pfname %>
  </p>

  <p>
    <strong>Plname:</strong>
    <%= philosopher.plname %>
  </p>

  <p>
    <strong>Pdob:</strong>
    <%= philosopher.pdob %>
  </p>

  <p>
    <strong>Pdod:</strong>
    <%= philosopher.pdod %>
  </p>

  <p>
    <strong>Pbiography:</strong>
    <%= philosopher.pbiography %>
  </p>

</div>
