<!-- This view is the home page where the 5 most recently added quotes are displayed. -->

<%= stylesheet_link_tag "customInputBar", "data-turbo-track": "reload" %>
<div class="centered-formtwo">
    <div class="form">
        <p class="formtwo form-titletwo" >Welcome to MyQuote</p>
        <p class="form-texttwo" style="padding-top: 10px;">The One Stop Place For All Quotes</p>
    </div>
</div>


<div class="centered-formtwo" style="padding-top: 20px;">
    <p class="formtwo form-texttwo"> Recently Added Quotes </p>
</div>

<!-- This section fetches each quote that falls under the 5 most recently added and displayed them to the home page 
The user can click on the "Read More" link to be taken to another page which shows all of the quote's details
-->
<% @quotes.each do |quote| %> 
    <div class="card bg-body-tertiary" style="margin-bottom: 10px;">
        <div class="card-body">
            <h3 class="card-title">"<%= quote.quotetext%>"</h3>
            <p class="card-text">-- <%= quote.philosopher.pfname %> <%= quote.philosopher.plname %><br>
            <% if quote.publicationyear.present? %> 
                <p class="card-text">Published: <%= quote.publicationyear.strftime("%Y") %><br>
            <% end %>
            Posted By: <%= quote.user.ufname%> <%= quote.user.ulname[0]%>
            <br>
            [<a href="/quotes/<%= quote.id %>">Read More</a>]</p>
        </div>
    </div>
<% end %>